.mainContainer {
    width: 100%;
    height: 5rem; /* Fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #F2F4F7;
    padding: 0 1rem; /* Add padding for smaller screens */
    box-sizing: border-box; /* Include padding in width */
}

.mainContainerWrapper {
    height: 100%; /* Use full height */
    width: 90%; /* Make it responsive */
    max-width: 80rem; /* Max width for larger screens */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center items vertically */
}

.subContainer {
    display: flex;
    width: 100%; /* Use full width */
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; /* Add some padding */
}

.logoContainer {
    flex: 0 1 auto; /* Flex for responsiveness */
    display: flex;
    align-items: center;
    cursor: pointer;
    max-width: 40%; /* Limit width for logo */
    gap: 0.4rem;
}

.navOptionsContainer {
    display: flex;
    align-items: center;
    flex: 1; /* Allow this to grow */
}

.navOptionsContainer button {
    color: #475467;
    font-size: 1rem; /* Base font size */
    font-weight: 600;
    line-height: 1.5rem;
    outline: none;
    cursor: pointer;
    background-color: white;
    border: none;
    padding: 0.5rem 1rem; /* Add padding for buttons */
    margin: 0 0.5rem; /* Add margin for spacing */
    transition: background-color 0.3s; /* Smooth hover effect */
}


.navOptionCustom {
    display: flex;
    align-items: center;
}

/* Use relative units for the span text size */
.navOptionCustom span {
    color: #475467;
    font-size: 1rem; /* Base font size */
    font-weight: 600;
    line-height: 1.5rem;
    margin-right: 0.5rem;
}

.profileImage {
    cursor: pointer;
}

/* Media Queries for Responsive Sizing */
@media (max-width: 768px) /*Add burger box here*/
 {
    .mainContainer {
        height: auto; /* Adjust height on smaller screens */
    }

    .mainContainerWrapper {
        width: 100%; /* Full width for the wrapper */
    }

    .subContainer { 
        padding: 0rem;
    }

    .navOptionsContainer{
        display: none;
    }

    .profileImage {
        display: none;
    }

    
    .logoContainer {
        flex: 0 1 auto; /* Flex for responsiveness */
        display: flex;
        align-items: center;
        cursor: pointer;
        max-width: 100%;
    }
 
}


