.mainContainer {
    width: 100%;
    height: 5rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #F2F4F7;
    padding: 0 1rem; 
    box-sizing: border-box; 
}

.mainContainerWrapper {
    height: 100%; 
    width: 90%; 
    max-width: 80rem; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.subContainer {
    display: flex;
    width: 100%; 
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; 
}

.logoContainer {
    flex: 0 1 auto; 
    display: flex;
    align-items: center;
    cursor: pointer;
    max-width: 40%; 
    gap: 0.4rem;
}

.navOptionsContainer {
    display: flex;
    align-items: center;
    flex: 1; 
}

.navOptionsContainer button {
    color: #475467;
    font-size: 1rem; 
    font-weight: 600;
    line-height: 1.5rem;
    outline: none;
    cursor: pointer;
    background-color: white;
    border: none;
    padding: 0.5rem 1rem; 
    margin: 0 0.5rem; 
    transition: background-color 0.3s; 
}


.navOptionCustom {
    display: flex;
    align-items: center;
}

 
.navOptionCustom span {
    color: #475467;
    font-size: 1rem; 
    font-weight: 600;
    line-height: 1.5rem;
    margin-right: 0.5rem;
}

.profileImage {
    cursor: pointer;
}

 
@media (max-width: 768px) 
 {
    .mainContainer {
        height: auto; 
    }

    .mainContainerWrapper {
        width: 100%; 
    }

    .subContainer { 
        padding: 0rem;
    }

    .navOptionsContainer{
        display: none;
    }

    .profileImage {
        display: none;
    }

    
    .logoContainer {
        flex: 0 1 auto; 
        display: flex;
        align-items: center;
        cursor: pointer;
        max-width: 100%;
    }
 
}


